\.hero {
    background: #eee;
    padding: 20px;
    border-radius: 10px;
    margin-top: 1em;
}

.hero h1 {
    margin-top: 0;
    margin-bottom: 0.3em;
    text-align: center;
}

span {
    font-size: 10px;
}

.chart-container, .section-1 {
	display: flex;
	flex-wrap: wrap;
	max-width: 90vw;
	margin: 0 auto;
}

#top-section{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.txt-c{
    text-align:center;
}

.txt-s-24{
    font-size: 24px;
}

.txt-b-n-bot{
    margin-bottom: 0;
}

.div-c{
    justify-content: center;
}
h3{
    margin: 0px 2px;
}

.sensor-chart {
    display: flex;
    flex-direction: column;
    justify-content: none;
    width: 400px;
}
