<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Seedling Guard</title>

     <script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/chartjs-adapter-moment@1.0.0') }}"></script>

    <link href="{{ url_for('static', filename='css/entireframework.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename = 'css/app.css') }}" rel="stylesheet">
</head>
<body>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/app.js') }}"></script>

    <nav class="nav" tabindex="-1" onclick="this.focus()">
      <div class="container">
        <a class="pagename current" href="#">Seedling Guard</a>
      </div>
    </nav>
    <button class="btn-close btn btn-sm">×</button>
    <div class="container">
      <div class="hero">
        <h1>Real Time Sensor Display</h1>
        <div class="chart-container">
            <div class="sensor-chart">
                <div>
                  <h2>DHT11 Sensor</h2>
                  <h2 id="txtDHT11Status">Status</h2>
                  <div class="sensor-reading">
                      <h3>Temperature: </h3>
                      <h3 id="txtTemperature">xx</h3>
                  </div>
                </div>
                <canvas id="DHT11Chart" width="300" height="200"></canvas>
            </div>
            <div class="sensor-chart">
                <div>
                  <h2>TDS Sensor</h2>
                  <h2 id="txtTDSStatus">Status</h2>
                  <div class="sensor-reading">
                      <h3>Water Salinity: </h3>
                      <h3 id="txtWaterSalinity">xx</h3>
                      <h3 id="txtWaterSalinityMotor">xx</h3>
                  </div>
                </div>
                <canvas id="TDSMeterChart" width="300" height="200"></canvas>
            </div>
            <div class="sensor-chart">
                <div>
                  <h2>Soil Moisture Sensor</h2>
                  <h2 id="txtSoilMoistureStatus">Status</h2>
                  <div class="sensor-reading">
                      <h3>Soil Moisture: </h3>
                      <h3 id="txtSoilMoisture">xx</h3>
                      <h3 id="txtSoilMoistureMotor">xx</h3>
                      
                  </div>
                </div>
                <canvas id="SoilMoistureChart" width="300" height="200"></canvas>
            </div>
        </div>
      </div>
    </div>
</body>
</html>
